account:
  port: 9900
  cache:
    name: "notification-queue"

sendgrid:
  apiKey: "SG.*****************************************************"
  sender: "ultimatebackend <no-reply@ultimatebackend.io>"

database:
  mongodb:
    uri: mongodb://localhost:27017/
    name: srv-notification
    options: ""

  eventstore:
    poolMax:
    poolMin:
    streamProtocol: "http"
    hostname: "localhost"
    httpPort: 2113
    httpPotocol: "http"
    tcpPassword: "changeit"
    tcpUsername: "admin"
    tcpPort: 1113
    tcpProtocol: tcp

  redis:
    host: "localhost"
    port: "6379"
    password: ""
